<a href="https://colab.research.google.com/github/kirondealex/ACC-2025-coh-homework/blob/main/Homework_19th_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Home work
# Home work
nums = [10,4,6,2,7,1,9,0]
# 1. Sort the items and show results
nums.sort()
print(nums)

# 2. Reverse the items and show results
My_list =[10,4,[2,6,'me',7],12,0]
My_list.reverse()
print(My_list)

# 3. Use index to select 0 from the list
print(nums[0]) # or print(My_list[4]) if you want the 0 from My_list

In [ ]:
# 1.Sortthe items and show results
nums = [10,4,6,2,7,1,9,0]
nums.sort()
print(nums)

[0, 1, 2, 4, 6, 7, 9, 10]

In [ ]:
# 2. Reverse the items and show results
My_list =[10,4,[2,6,'me',7],12,0]
My_list.reverse()
print(My_list)

[0, 12, [2, 6, 'me', 7], 4, 10]

In [ ]:
	# 3.Use index to select 0 from the list
My_list =[10,4,[2,6,'me',7],12,0]
print(My_list[My_list.index(0)])

0

In [ ]:
# 4.Use index to select “me” from the list
print(My_list[2][2])

me