<a href="https://colab.research.google.com/github/kirondealex/ACC-2025-coh-homework/blob/main/Homework_2_April.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1.Sort the items
nums =[10,4,6,2,7,1,9,0]
nums.sort()
print(nums)

[0, 1, 2, 4, 6, 7, 9, 10]

In [2]:
# 2.Reverse the items
My_list = [10, 4, [2, 6, 'me', 7], 12, 0]
My_list.reverse()
print(My_list)

[0, 12, [2, 6, 'me', 7], 4, 10]

In [3]:
# 3.Use index to select 0 from the list
My_list = [0, 12, [7, 'me', 6, 2], 4, 10]
selected_item = My_list[0]
print(selected_item)

0

In [5]:
# 4.Use index to select 'me' from the list
My_list = [0, 12, [7, 'me', 6, 2], 4, 10]
selected_item = My_list[2][1]
print(selected_item)

me